/* .home-container{
    min-height: 100vh;
    position: relative;
    background-image: url("../images/wallhaven-x6gkml_1280x720.webp");
    background-size: cover;
    background-position: 15% center;
    background-repeat: no-repeat;
} */
